$black: rgba(0, 0, 0, 1);
$blackShade: rgba(0, 0, 0, .35);
$white: #fff;
$font: #24292e;
$border: #eee;

$main: #09f;
$mainDeep: #08f;
$mainLight: #0af;

$gray: #999;
$grayLight: #f1f1f1;

$succeed: #0c3;
$red: #f33;
