// font-size style
$sizeXXS: 12px;
$sizeXS: 14px;
$sizeS: 16px;
$sizeM: 18px;
$sizeL: 20px;
$sizeXL: 22px;
$sizeXXL: 24px;

$weightThin: 100;
$weightExtraLight: 200;
$weightLight: 300;
$weightNormal: 400;
$weightMedium: 500;
$weightSemiBold: 600;
$weightBold: 700;
$weightExtraBold : 800;
$weightBolder: 900;
