@import './index.scss';
/*------common start------*/
.link-color {
  color: $main;
}

.link-color:hover,
.link-color:focus {
  color: $mainDeep;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mouse-pointer {
  cursor: pointer;
}

.el-button--primary {
  color: $white;
  background-color: $main;
  border-color: $main;
}

.el-button--primary:focus,
.el-button--primary:hover {
  color: $white;
  background-color: $mainLight;
  border-color: $mainLight;
}

/*------common end------*/
